In [25]:
import pandas as pd
import numpy as np

In [2]:
path = "../datasets/cell-cycle-regulated-genes-microarray/S-EPMC25624/mbc_9_12_3273__orf_data.txt"

In [5]:
nds = pd.read_csv(path, delimiter='\t')
nds

           NAME       GENE  SCORE      X      Y     ATAN2 Unnamed: 6
0       YHR126C    YHR126C  2.224  0.850  0.526  0.554145       M/G1
1       YOR066W    YOR066W  6.828  0.854  0.519  0.546083       M/G1
2       YHR092C       HXT4  1.431  0.860  0.508  0.533551       M/G1
3       YDL179W       PCL9  3.296  0.864  0.502  0.526346       M/G1
4       YEL032W       MCM3  5.661  0.867  0.498  0.521379       M/G1
...         ...        ...    ...    ...    ...       ...        ...
6218    YLR029C     RPL13A  0.000 -0.820  0.570       NaN        NaN
6219    YPL216W    YPL216W -0.007  0.481  0.876       NaN        NaN
6220  YML100W-A  YML100W-A -0.014  0.930  0.365       NaN        NaN
6221  YML048W-A  YML048W-A -0.028 -0.340  0.937       NaN        NaN
6222    YML024W    YML024W -0.077 -0.680  0.730       NaN        NaN

[6223 rows x 7 columns]

In [8]:
path = "../datasets/cell-cycle-regulated-genes-microarray/S-EPMC25624/mbc_9_12_3273__CDCDATA.TXT"

In [9]:
dds = pd.read_csv(path, delimiter='\t')
dds

,NAME,cln3 experiment1,cln3 experiment2,clb2 experiment2,clb2 experiment1,alpha 0min,alpha 7min,alpha 14min,alpha 21min,alpha 28min,...,elu 120min,elu 150min,elu 180min,elu 210min,elu 240min,elu 270min,elu 300min,elu 330min,elu 360min,elu 390min
0,YAL001C,0.15,NaN,-0.22,0.07,-0.15,-0.15,-0.21,0.17,-0.42,...,-0.24,0.11,-0.12,0.37,0.07,-0.09,-0.32,0.04,-0.48,0.04
1,YAL002W,-0.07,-0.76,-0.12,-0.25,-0.11,0.10,0.01,0.06,0.04,...,0.03,-0.08,-0.13,-0.21,-0.06,-0.10,-0.19,0.08,0.01,-0.02
2,YAL003W,-1.22,-0.27,-0.10,0.23,-0.14,-0.71,0.10,-0.32,-0.40,...,0.18,0.28,0.15,0.40,0.24,0.22,-0.27,-0.10,0.34,0.02
3,YAL004W,-0.09,1.20,0.16,-0.14,-0.02,-0.48,-0.11,0.12,-0.03,...,-0.15,-0.73,-0.79,-0.20,0.34,0.07,-0.59,0.35,0.66,0.32
4,YAL005C,-0.60,1.01,0.24,0.65,-0.05,-0.53,-0.47,-0.06,0.11,...,-0.45,-0.83,-0.26,-0.16,0.30,0.21,-0.43,0.21,0.60,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,YPR200C,0.14,-1.18,-0.27,-0.18,-0.09,0.04,-0.06,-0.07,-0.16,...,0.13,0.31,0.16,-0.23,-0.35,-0.15,0.14,-0.07,-0.72,-0.09
6174,YPR201W,0.33,NaN,-0.71,0.16,0.14,NaN,0.31,-0.19,0.08,...,0.00,0.36,-0.02,0.13,0.08,-0.37,0.17,-0.04,-0.45,-0.08
6175,YPR202W,1.43,0.89,-0.01,0.25,-0.79,-0.25,1.18,0.84,0.19,...,0.25,0.35,0.21,0.18,0.40,0.38,-0.16,0.37,-0.04,0.21
6176,YPR203W,1.58,0.62,0.14,0.56,-0.68,-0.19,1.23,0.84,0.14,...,0.20,0.36,0.14,0.53,0.36,0.40,-0.37,0.17,0.09,0.32
6177,YPR204W,1.25,1.19,0.01,0.45,-0.37,-0.48,0.97,0.52,0.18,...,-0.01,0.17,0.35,0.25,0.34,0.25,-0.34,0.55,0.22,0.25

In [14]:
ds_full = nds[['NAME','GENE']].merge(dds, how='right', on='NAME')

In [18]:
#ds_full.to_csv('ds_full.csv', index=False)

In [21]:
ds_full[ds_full["GENE"] == 'SNP2']

,NAME,GENE,cln3 experiment1,cln3 experiment2,clb2 experiment2,clb2 experiment1,alpha 0min,alpha 7min,alpha 14min,alpha 21min,...,elu 120min,elu 150min,elu 180min,elu 210min,elu 240min,elu 270min,elu 300min,elu 330min,elu 360min,elu 390min
1845,YFL018W-A,SNP2,0.39,NaN,NaN,0.03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1846,YFL018W-A,SNP2,0.39,NaN,NaN,0.03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
ds_full = pd.read_csv('ds_full.csv')
ds_full

,NAME,GENE,cln3_experiment1,cln3_experiment2,clb2_experiment2,clb2_experiment1,alpha_0min,alpha_7min,alpha_14min,alpha_21min,...,elu_120min,elu_150min,elu_180min,elu_210min,elu_240min,elu_270min,elu_300min,elu_330min,elu_360min,elu_390min
0,YAL001C,TFC3,0.15,NaN,-0.22,0.07,-0.15,-0.15,-0.21,0.17,...,-0.24,0.11,-0.12,0.37,0.07,-0.09,-0.32,0.04,-0.48,0.04
1,YAL002W,VPS8,-0.07,-0.76,-0.12,-0.25,-0.11,0.10,0.01,0.06,...,0.03,-0.08,-0.13,-0.21,-0.06,-0.10,-0.19,0.08,0.01,-0.02
2,YAL003W,EFB1,-1.22,-0.27,-0.10,0.23,-0.14,-0.71,0.10,-0.32,...,0.18,0.28,0.15,0.40,0.24,0.22,-0.27,-0.10,0.34,0.02
3,YAL004W,YAL004W,-0.09,1.20,0.16,-0.14,-0.02,-0.48,-0.11,0.12,...,-0.15,-0.73,-0.79,-0.20,0.34,0.07,-0.59,0.35,0.66,0.32
4,YAL005C,SSA1,-0.60,1.01,0.24,0.65,-0.05,-0.53,-0.47,-0.06,...,-0.45,-0.83,-0.26,-0.16,0.30,0.21,-0.43,0.21,0.60,0.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,YPR200C,ARR2,0.14,-1.18,-0.27,-0.18,-0.09,0.04,-0.06,-0.07,...,0.13,0.31,0.16,-0.23,-0.35,-0.15,0.14,-0.07,-0.72,-0.09
6174,YPR201W,ARR3,0.33,NaN,-0.71,0.16,0.14,NaN,0.31,-0.19,...,0.00,0.36,-0.02,0.13,0.08,-0.37,0.17,-0.04,-0.45,-0.08
6175,YPR202W,YPR202W,1.43,0.89,-0.01,0.25,-0.79,-0.25,1.18,0.84,...,0.25,0.35,0.21,0.18,0.40,0.38,-0.16,0.37,-0.04,0.21
6176,YPR203W,YPR203W,1.58,0.62,0.14,0.56,-0.68,-0.19,1.23,0.84,...,0.20,0.36,0.14,0.53,0.36,0.40,-0.37,0.17,0.09,0.32
6177,YPR204W,YPR204W,1.25,1.19,0.01,0.45,-0.37,-0.48,0.97,0.52,...,-0.01,0.17,0.35,0.25,0.34,0.25,-0.34,0.55,0.22,0.25

In [48]:
tmp = pd.read_csv("../datasets/cell-cycle-regulated-genes-microarray/S-EPMC25624/smallest.csv")
ds_smaller = tmp[["gene_id"]].rename(columns={"gene_id": "NAME"})
tmp = pd.read_csv("../datasets/cell-cycle-regulated-genes-microarray/S-EPMC25624/small_25.csv")
ds_small = tmp[["gene_id"]].rename(columns={"gene_id": "NAME"})
tmp = pd.read_csv("../datasets/cell-cycle-regulated-genes-microarray/S-EPMC25624/large_94.csv")
ds_large = tmp[["gene_id"]].rename(columns={"gene_id": "NAME"})

In [49]:
#elu experiment
ds1 = pd.DataFrame(data={'T':[i for i in range(9) for j in range(6178)]})
ds1['NAME'] = np.concatenate([ds_full[['NAME']].values for f in range(9)])
ds1['GENE'] = np.concatenate([ds_full[['GENE']].values for f in range(9)])
ds1['t0'] = ds_full[['elu_120min','elu_150min','elu_180min','elu_210min','elu_240min','elu_270min','elu_300min','elu_330min','elu_360min']].melt()[['value']]
ds1['t1'] = ds_full[['elu_150min','elu_180min','elu_210min','elu_240min','elu_270min','elu_300min','elu_330min','elu_360min','elu_390min']].melt()[['value']]
ds12 = ds_smaller.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds13 = ds_small.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds14 = ds_large.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds1.to_csv('full_elu.csv', index=False)
ds12.to_csv('smaller_elu.csv', index=False)
ds13.to_csv('small_elu.csv', index=False)
ds14.to_csv('large_elu.csv', index=False)

In [50]:
#cdc28 experiment
ds1 = pd.DataFrame(data={'T':[i for i in range(16) for j in range(6178)]})
ds1['NAME'] = np.concatenate([ds_full[['NAME']].values for f in range(16)])
ds1['GENE'] = np.concatenate([ds_full[['GENE']].values for f in range(16)])
ds1['t0'] = ds_full[['cdc28_0min','cdc28_10min','cdc28_20min','cdc28_30min','cdc28_40min','cdc28_50min','cdc28_60min','cdc28_70min','cdc28_80min','cdc28_90min','cdc28_100min','cdc28_110min','cdc28_120min','cdc28_130min','cdc28_140min','cdc28_150min']].melt()[['value']]
ds1['t1'] = ds_full[['cdc28_10min','cdc28_20min','cdc28_30min','cdc28_40min','cdc28_50min','cdc28_60min','cdc28_70min','cdc28_80min','cdc28_90min','cdc28_100min','cdc28_110min','cdc28_120min','cdc28_130min','cdc28_140min','cdc28_150min','cdc28_160min']].melt()[['value']]
ds12 = ds_smaller.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds13 = ds_small.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds14 = ds_large.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds1.to_csv('full_cdc28.csv', index=False)
ds12.to_csv('smaller_cdc28.csv', index=False)
ds13.to_csv('small_cdc28.csv', index=False)
ds14.to_csv('large_cdc28.csv', index=False)

In [51]:
#cdc15 experiment. take out some moments because the interval between t and t+1 is not the same as the rest
ds1 = pd.DataFrame(data={'T':[i for i in range(18) for j in range(6178)]})
ds1['NAME'] = np.concatenate([ds_full[['NAME']].values for f in range(18)])
ds1['GENE'] = np.concatenate([ds_full[['GENE']].values for f in range(18)])
ds1['t0'] = ds_full[['cdc15_70min','cdc15_80min','cdc15_90min','cdc15_100min','cdc15_110min','cdc15_120min','cdc15_130min','cdc15_140min','cdc15_150min','cdc15_160min','cdc15_170min','cdc15_180min','cdc15_190min','cdc15_200min','cdc15_210min','cdc15_220min','cdc15_230min','cdc15_240min']].melt()[['value']]
ds1['t1'] = ds_full[['cdc15_80min','cdc15_90min','cdc15_100min','cdc15_110min','cdc15_120min','cdc15_130min','cdc15_140min','cdc15_150min','cdc15_160min','cdc15_170min','cdc15_180min','cdc15_190min','cdc15_200min','cdc15_210min','cdc15_220min','cdc15_230min','cdc15_240min','cdc15_250min']].melt()[['value']]
ds12 = ds_smaller.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds13 = ds_small.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds14 = ds_large.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds1.to_csv('full_cdc15.csv', index=False)
ds12.to_csv('smaller_cdc15.csv', index=False)
ds13.to_csv('small_cdc15.csv', index=False)
ds14.to_csv('large_cdc15.csv', index=False)

In [52]:
#alpha experiment
ds1 = pd.DataFrame(data={'T':[i for i in range(17) for j in range(6178)]})
ds1['NAME'] = np.concatenate([ds_full[['NAME']].values for f in range(17)])
ds1['GENE'] = np.concatenate([ds_full[['GENE']].values for f in range(17)])
ds1['t0'] = ds_full[['alpha_0min','alpha_7min','alpha_14min','alpha_21min','alpha_28min','alpha_35min','alpha_42min','alpha_49min','alpha_56min','alpha_63min','alpha_70min','alpha_77min','alpha_84min','alpha_91min','alpha_98min','alpha_105min','alpha_112min']].melt()[['value']]
ds1['t1'] = ds_full[['alpha_7min','alpha_14min','alpha_21min','alpha_28min','alpha_35min','alpha_42min','alpha_49min','alpha_56min','alpha_63min','alpha_70min','alpha_77min','alpha_84min','alpha_91min','alpha_98min','alpha_105min','alpha_112min','alpha_119min']].melt()[['value']]
ds12 = ds_smaller.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds13 = ds_small.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds14 = ds_large.merge(ds1, how="left", on="NAME").sort_values(by=['T'])
ds1.to_csv('full_alpha.csv', index=False)
ds12.to_csv('smaller_alpha.csv', index=False)
ds13.to_csv('small_alpha.csv', index=False)
ds14.to_csv('large_alpha.csv', index=False)
ds1

         T     NAME     GENE    t0    t1
0        0  YAL001C     TFC3 -0.15 -0.15
1        0  YAL002W     VPS8 -0.11  0.10
2        0  YAL003W     EFB1 -0.14 -0.71
3        0  YAL004W  YAL004W -0.02 -0.48
4        0  YAL005C     SSA1 -0.05 -0.53
...     ..      ...      ...   ...   ...
105021  16  YPR200C     ARR2  0.10 -0.27
105022  16  YPR201W     ARR3 -0.12  0.62
105023  16  YPR202W  YPR202W -0.32 -0.19
105024  16  YPR203W  YPR203W -0.33  0.08
105025  16  YPR204W  YPR204W -0.09 -0.27

[105026 rows x 5 columns]

In [53]:
ds12

        NAME   T   GENE    t0    t1
0    YER111C   0   SWI4 -1.21 -0.26
85   YLR229C   0  CDC42  0.21 -0.24
34   YDR146C   0   SWI5 -1.29 -0.70
17   YDR310C   0   SUM1 -0.18 -0.18
102  YLR103C   0  CDC45 -0.63 -0.19
..       ...  ..    ...   ...   ...
67   YBL008W  16   HIR1 -0.30  0.15
84   YNL068C  16   FKH2  0.31  0.22
33   YDR310C  16   SUM1 -0.22  0.03
16   YER111C  16   SWI4 -0.34 -0.47
118  YLR103C  16  CDC45 -0.44 -0.37

[119 rows x 5 columns]